.notecard { 
    width: 450px;
    height: 120px;
    border-radius: 8px;
    background-color: green;
    margin: 100px auto 0px auto;
    padding: 20px;
  }

  body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #939393;

    background-color:#000000;
}
.note-title {
  color: #dddddd;
  font-size: 30px;
  font-weight: 500;
}

.notecard-thumbnail {
  width: 70px;
  height: 70px;

  /* Add some rounded corners to the image. */
  border-radius: 5px;
}
.btn-delete {
  width: 30px;
  height: 30px;

  margin-top: 15px;
  padding: 0;
  font-size: 14px;
    font-weight: 700;
    color: #595959;
    background-color: #212121;0
    border: 2px solid #595959;
    border-radius: 5px;
}
